

.csomagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    max-width: 1110px; 
    margin-left: auto;
    margin-right: auto;
}


.divContainer {
    width: 350px; 
    display: flex;
    flex-direction: column;

    background: linear-gradient(to right, #8dc6ff, #3198ff);
    box-shadow: 0 5px 4px rgba(1, 115, 255, 0.474);
    border-radius: 20px;
    padding: 10px;
    height: 450px;

    cursor: pointer;
    transition: transform 0.3s;
    box-sizing: border-box;
}


.divContainer:hover{
    transform: scale(1.05);
}


.firstpicture img {
  width: 100%;      
  height: 250px;     
  object-fit: cover;
  border-radius: 15px;
}


.szovegContainer{
 display: flex;
    flex-direction: column;
    text-align: center;
    flex-shrink: 0;  
} 



.orszagText{
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
}


.varosText{
    font-size: 20px;
    margin-top: 0px;
    color: rgb(48, 95, 171);
    font-weight: bolder;
}

.arText{
    font-weight: bolder;
    color: rgb(0, 159, 239);
    border-radius: 20px;
    background-color: #8dc6ff;
    width: 150px;
    padding: 10px;
    margin-top: 2px;
    margin-left: 80px;
}



.noLink{
    text-decoration: none;
}

