

.homeHeader {
  width: 100%;
  box-sizing: border-box; 
  margin: 0;              
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;                
  padding: 10px;
  flex-wrap: wrap;
  background: linear-gradient(to right,#3198ff, #8dc6ff); 
 
}

/* SELECT - úticél választó */
.destinationSelect {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;

}


.dateInput {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* UTAS SZÁMLÁLÓ */
.passengerCounter {
  display: flex;
  align-items: center;
  gap: 5px;
}

.passengerLabel {
  margin-right: 5px;
  font-size: 14px;
}

.passengerBtn {
  padding: 5px 10px;
  border: none;
  background-color: #2f8cf8;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.passengerBtn:hover {
  background-color: #005eff;
}

.passengerNumber {
  min-width: 20px;
  text-align: center;
  font-weight: bold;
  color: rgb(#43adef);
}


.searchBtn {
  padding: 5px 15px;
  background-color: #2f8cf8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.searchBtn:hover {
  background-color: #005eff;
}



/* KÉP ÉS CSOMAGOK GOMB */
.imageContainer {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.packageBtn {
  position: absolute;
  height:50px;
  width: 200px;
  top: 60%;
  left: 15%;
  transform: translate(-50%, -50%);
  padding: 5px 15px;
  background-color: #ff7733;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 25px;
  color: #ffffff;
  font-weight: bolder;
  transition: transform 0.3s;
}

.packageBtn:hover {
  transform: translate(-50%, -50%) scale(1.05);
  background-color: #ff4d00;
}



/* LAST MINUTE SECTION */
.lastMinuteContainer {
  display: flex;
  gap: 15px;                  
  flex-wrap: nowrap;          
  justify-content: space-between;
  margin-bottom: 100px;
}

.lastMinuteTitle{
  margin-left: 20px;
  font-size: 30px;
  color: #3943ff;

}

.lastMinuteCard {
  flex: 1 1 calc(25% - 11.25px); 
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  min-width: 150px; 
  height: 350px; 
  margin: 20px;   
  cursor: pointer;
  transition: transform 0.3s ;
  
}


.lastMinuteCard:hover{
    transform: scale(1.05);

}

.lastMinuteCard img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.lastMinuteCard p {
  font-size: 14px;

}



/*Miért mi, Section*/




.secContainer{
  display: flex;
  align-items: center;
  gap: 20px;
  height: 350px;
  width: 70%;
  margin: auto;

}

.secSectionDiv{
  text-align: center;
}

.secSectionDiv h2{
  color: #3943ff;
}

