


.navBar {
    display: flex;
    align-items: center; 
    padding: 10px 20px;
    position: relative;  
    background:linear-gradient(to right, #8dc6ff, #3198ff);

}


.ulLista {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-bottom: 35px;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



.ulLista li a {
    text-decoration: none;      
    color: #6a7784;             
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    background-color:white ;
    transition: transform 0.3s; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.ulLista li a:hover {
    transform: scale(1.05);  
    background-color: rgb(0, 106, 255);
    color: aliceblue;  
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.kosar {
    margin-left: auto; 
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 2px 6px rgb(255, 255, 255);
    background-color: #3198ff;
    color: rgb(255, 255, 255);
}


.kosar:hover {
    transform: scale(1.05);
    background-color: #0080ff;
}
