

.singUpContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.singUpForm{
    position: relative;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    gap: 15px;
    min-width: 300px;
    box-shadow: 0 2px 10px rgb(73, 79, 101);
}


.closeBtn {
  position: absolute;
  top: 1px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  
}

.closeBtn:hover {
  color: red;
}



.singUpBtn {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background:#8dc6ff;
    color: azure;
    font-weight: bolder;


}
.singUpBtn:hover{
    background-color: #5daeff;
}
