
/*Admin*/

.adminContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  margin: auto;
  padding-top: 20px;
  margin-top: 20px;
}



.adminTabButt{
    display: flex;
    flex: 2;
    gap: 30px;
}
.aButton{
    color: #e7e7e7 ;
    background-color: rgb(0, 106, 255);
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    padding: 8px 12px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
}

.aButton:hover{
    background-color: #e7e7e7;
    color: rgb(0, 106, 255);
    box-shadow: 0 4px 6px rgba(0, 106, 255, 0.642);
}


.active {
  background-color: red;
  color: white;
}



/*Utazasok Tab*/



.table {
    width: 100%; 
    min-width: 800px; 
    border-collapse: collapse;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: default;
    box-shadow: 0 2px 8px rgba(0, 8, 255, 0.363);
}

/* Fejléc */
.table thead th {
    background-color:#8dc6ff;
    color: rgb(0, 34, 170);
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

/* Cellák rácsozása */
.table td {
    padding: 12px;
    border: 1px solid #e0e0e0; 
    text-align: center;
    color: #241c1c;
}

/*ár*/
.table td:nth-child(7) {
    font-weight: bold;
    color: #2c3e50;
    background-color: rgba(0, 106, 255, 0.05);
}


/*id*/
.table td:nth-child(1) {
    font-weight: bold;
    color: #004fc5;
    background-color: #8dc6ff; 
    border-top: none;
    border-left: none;
}




                                       /*Uj utazás leirás hianyzik */
.newPackageContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:500px;
    max-width: 500px;
    margin: 20px auto;
    padding: 35px;
    box-shadow: 0 2px 8px rgba(0, 8, 255, 0.363);
}

.newPackageContainer div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.newPackageContainer label{
    font-weight: bold;
    color: rgb(0, 106, 255);
}

.newPackageContainer input,
.newPackageContainer select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.newPackageContainer input:focus,
.newPackageContainer select:focus {
  border-color: rgb(0, 106, 255);
}



.newPackageContainer button {
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(170, 188, 250);
    color:  rgb(0, 106, 255);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 2px 8px rgba(0, 8, 255, 0.363);
}

.newPackageContainer button:hover {
    background-color: rgb(11, 89, 199);
    color: rgb(255, 255, 255);
}




/* cimek*/
.newPackageContainer h2, .utazasokH2, .listcontainer h2{
    color: rgb(0, 106, 255);
}




.szerpkorSpan{
    color: rgb(0, 106, 255);
    font-weight: bold;
}